<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/regi" method="POST">
        <div class="container">
            <div>
                <input type="text" id="username" name="username" class="username-class">
            </div>
            <br>
            <div>
                <input type="password" id="password" name="password" class="password-class">
            </div>
            <br>
            <div>
                <button id="button-sbmt" class="login-class">Register</button>
            </div>
            <br>
            <div>
                <p><input type="checkbox" id="agreed" class="check">Accept the terms of service: <a href="#">Here</a></p>
            </div>
        </div>
    </form>
    <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="cf046fec-2703-42ae-85fa-85da96bc09d6";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
    <script src="index.js"></script>
</body>
</html>